{% extends 'user/profile_details.html.twig' %}

{% block body %}
    <h1 class="page-header">{{ user.fullName }}
        <small>{{ user.username }}</small>
    </h1>

    {% embed 'user/user_edit_form.html.twig' %}
        {% block cancel_button %}
            <a href="{{ path('get_profile') }}">{{ form_widget(form.cancel) }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}